
@{
    ViewData["Title"] = "CompleteForgetPassword";
    Layout = "~/Views/Shared/_AuthenticationLayout.cshtml";
}

<h1>CompleteForgetPassword</h1>
<br />
<div class="main-agileinfo">
    <div class="agileits-top">
        <div class="body">
            <div> PasswordReset Link has been sent To Your Email ,Please Check Your Inbox </div>
            <div class="col-6">
                <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox"> Your Inbox </a>
            </div>
        </div>

    </div>
</div>
