@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_AuthenticationLayout.cshtml";
}

<h1>ResetPassword</h1>
<br />
<div class="main-agileinfo">
    <div class="agileits-top">
        <form asp-action="ResetPassword">
            <input asp-for="Email" type="hidden"></input>
            <input asp-for="Token" type="hidden"></input>
            <div>
                <input type="password" asp-for="Password" placeholder="Password" required="" />
                <span asp-validation-for="@Model.Password"></span>
            </div>
            <br />
            <div>
                <input type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" required="" />
                <span asp-validation-for="@Model.ConfirmPassword"></span>
            </div>
            <br />
            <input type="submit" value="ResetPassword">
        </form>
        <br />
        
    </div>
</div>

</div>
@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
     }
