
@{
    ViewData["Title"] = "ResetPasswordDone";
    Layout = "~/Views/Shared/_AuthenticationLayout.cshtml";
}

<h1>ResetPasswordDone</h1>
<br />
<div class="main-agileinfo">
    <div class="agileits-top">
        <div class="body">
            <div> Your Password Was Reset Successfully,Please LogIn Again :</div>
             <div class="col-6">
            <p>
               <a class="btn btn-warning" asp-action="SignIn">
                    <i class="fas fa-sign-in"></i> Login Now !
                </a>
            </p>
             </div>
        </div>
       
    </div>
</div>
