@model IdentityRole
@{
    ViewData["Title"] = "Update";
}
<h1>Update</h1>
<br />
<div class="row">
    <div class="col-6">
        <form asp-action="Update" asp-controller="Roles">
            <input hidden asp-for="Id" />
            <div class="form-group">
                <label asp-for="@Model.Name" class="col-form-label "></label>
                <input asp-for="@Model.Name" class="form-control" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <br />
            <div class="my-3">
                <a class="btn btn-warning" asp-action="AddOrRemoveUsers" asp-controller="Roles" asp-route-RoleId="@Model.Id">AddOrRemoveUser</a>
            </div>
            <input type="submit" value="Save" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-outline-primary">Back To List</a>
        </form>

    </div>
</div>
@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
     }